 /* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
 /* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Archivo:ital,wght@0,100..900;1,100..900&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Archivo:ital,wght@0,100..900;1,100..900&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    margin: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    max-height:600px;
    overflow: auto;
    overflow-x: hidden;
    
}
.img{
    display: inline-block;
    position:relative;
    left:50px;
    transition: transform 0.5s;
    animation-name: Apple;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    
    
    
}
@keyframes Apple {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(8px);
        }        
  
    100% {
        transform:translateY(0px);
    }
    0%{
        border-radius: 19% 81% 37% 63% / 62% 32% 68% 38% 
    }
    30%{
        border-radius: 19% 81% 74% 26% / 28% 24% 76% 72% 
    }
    50%{
    border-radius: 15% 85% 34% 66% / 65% 15% 85% 35% 
    }
    70%{
    border-radius: 68% 32% 58% 42% / 30% 61% 39% 70% 
    }
    90%{
        border-radius: 52% 48% 71% 29% / 40% 53% 47% 60% 
        }
    100%{
        border-radius: 19% 81% 37% 63% / 62% 32% 68% 38% 
    }
}
.h2{
    display:inline-block;
    color:rgb(255, 255, 255);
    position: relative;
    left: 300px;
    top: -130px;
    font-size: 23px;
    animation-name: h2;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
    
}
@keyframes h2{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(1.5px);
        }        
  
    100% {
        transform:translateY(0px);
    }
}
.background{
    height: 800px;
}


.border{
    position: relative;
    border: none;
    background-image: linear-gradient(to right, #60f090 0%, #1b8ae6 100%);  
    height: 30px;
    width: 1920px;
    top: 279px;
}


.Opi {
    position: relative;
    color: rgb(255, 255, 255);
    left: 40px;
    top: 270px;
    font-size: 27px;
}
.Opi1 {
    position:relative;
    color: rgb(255, 255, 255);
    font-size: 17px;
    top:300px; 
    left:20px;
    
}
.Har {
    position: relative;
    color: rgb(255, 255, 255);
    left: 960px;
    top: 65px;
    font-size: 16px;
    margin: 0;
    width: 300px;
}

.Har1 {
    position: relative;
    color: rgb(255, 255, 255);
    left: 950px;
    top: 60px;
    font-size: 15px;
    font-family: "Spectral", serif; 
    width: 700px;
}
.under{
    position: relative;
    top:-30px
}
.List{
    position: relative;
    top:-15px;
    left:100px
}
.vnali{
    position: relative;
    font-size:17px;
    color:lightgreen;
    top:-18px;
}
.pOpisanie{
    position: relative;
     font-family: "Spectral", serif; 
}
.cost{
    position: relative;
    top:-5px;
}
.B1{
    position: relative;
    background-color: orange;
    color:white;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    border: none;
    transition: transform 0.6s;
    cursor: pointer;
    top:0px; 
}
.B1:hover{
    transform: scale(1.08);
    background-color: lightgreen;
    box-shadow: 5px 5px 5px rgb(9, 255, 0);
}
.B2{
    position: relative;
    background-color: orange;
    color:white;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    border: none;
    left:50px;
    transition: transform 0.6s;
    cursor: pointer;
    top:0px; 
    
}
.B2:hover{
    transform: scale(1.08);
    background-color: lightgreen;
    box-shadow: 5px 5px 5px rgb(9, 255, 0);
}
.button{
    display: inline-block;
}

@media screen and (max-width: 1360px){
    body{
        width: 1360px;
    }
    .background{
        width: 1360px;
        height: 800px;
    }
    .border{
        top:90px;
        width: 1360px;
    }
    .h2 {
        position: relative;
        top:-130px;
        left: 200px;
        font-size:15px;
    }
 
    .vnali{
        font-size:18px;
    }
    .Opi{
       top:120px;
       font-size:21px;
    }
    .Opi1{
        top:120px;
        font-size:16px;
    }
    .Har{
       top:-60px;
       left:790px;
    }
    .Har1{
        left:790px;
        font-size:13px;
        top:-60px;
    }
    .List{
        left:-43px;
    }
    .under{
        left:-43px;
}
    .error{
        width:500px;
        height:500px;
    }


}
@media screen and (max-width: 998px){
    .Opi{
        width: 500px;
    }
    .Har1{
        width: 500px;
    }
    .Opi1{
        font-size:12px;
    }

    
}
@media screen and (max-width: 768px){
    .body{
        width: 1220px;
    }
    .background{
        width: 1220px;
    }
    .Opi1{
        font-size:12px;
    }
    .Har{
        left:750px;
    }
    .Har1{            
        font-size:12px;
        left:750px;
    }
    .h2{
        font-size: 15px;
        left:220px;
        top:-100px
    }
    .error{
        width: 500px;
        height: 500px;
    }
    .border{
        width: 1220px;
    }
   
   
}
@media screen and (max-width: 576px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 360px;
    }
    .background{
        width: 360px;
        height: 1000px;
        
    }
    .error{
        width: 300px;
        height: 300px; 
    }
    .h2{
        width: 330px;
        left:0px;
        top:0px;
        font-size: 10px;
    }
    
    .pOpisanie{
        font-size: 13px
    }
    
    .Har{
        font-size:13;
        top: 20px;
        left: 20px;
    }
    .Har1{
        font-size: 14px;
        top: 10px;
        left: 10px;
        width: 350px;
    }
    .Opi{
        left: 25px;
        width: 300px;
        top:20px;
        font-size: 18px;
    }
    .Opi1{
        left:10px;
        top:20px;
        font-size: 14px;
        width:300px;
    }
    .border{
       top:20px;
       width: 375px;
    }
    
}
